.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background: #000000;
    color: #ffffff;
}

.panel {
    border: 1px solid blue;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    background: #84f7d1;
    border: 1px solid black;
}

.enemy {
    background: url(../images/ralph.png);
}